.nav-wrapper {
    background-color:#01579b;
}

a#save {
    margin-left: 10px;
}

.card-action a {
    color: black !important;
}
body {
    background-image: url("../images/stardust.png");
}

.delete-button {
    margin-left: 10px;
}
